#box {
  max-width: 1000px;
  height: 500px;
  /* background-color: tomato; */
  border: 1px solid #333;
  margin: 0 auto;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#box > div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
#box div:nth-child(odd) {
  background-color: seagreen;
  color: whitesmoke;
  flex-grow: 1;

  /* animation-name: changeBg;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */
}
#box div:nth-child(even) {
  background-color: yellow;
  color: whitesmoke;
  flex-grow: 2;
  /* animation-name: changeBg2;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */
}
/* @keyframes changeBg {
  from {
    background-color: seagreen;
  }
  to {
    background-color: orange;
  }
}
@keyframes changeBg2 {
  from {
    background-color: yellow;
  }
  to {
    background-color: blue;
  }
} */
